@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  height: 75px;
  -webkit-filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.25));
  background-color: #ffffff;
}

.header_menu {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_menu .menu li a {
  font-size: 14px;
  line-height: 27px;
  color: #272727;
  font-weight: 500;
  font-family: 'Poppins';
  text-align: right;
  padding-right: 20px;
}

.header_menu .logo {
  padding-right: 320px;
}

.section__1 {
  background: url("../Photos/background_sec1.png") center center;
  height: 775px;
}

.sec__we-dezign-things {
  height: 772px;
}

.sec1__h1 {
  width: 855px;
  height: 168px;
  font-size: 60px;
  line-height: 85px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Libre Baskerville';
  text-align: center;
  padding-left: 157.5px;
  padding-top: 195px;
}

.sec1__btn {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  background-color: #fc5f45;
  border: 0;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  font-family: 'Poppins';
  text-align: center;
  display: block;
  margin: 40px auto;
}

.header__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 35px;
}

.header__cards .header__card figure {
  font-size: 18px;
  line-height: 80px;
  font-weight: 500;
  font-family: 'Poppins';
  text-align: center;
  text-transform: uppercase;
}

.fig_1 {
  color: #38c695;
}

.fig_2 {
  color: #b27cf5;
}

.fig_3 {
  color: #feb960;
}

.section__2 {
  height: 1000px;
}

.imgs {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.imgs .img_01 {
  position: absolute;
  left: 485px;
  top: 70px;
  width: 652px;
  height: 580px;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
  background-color: #fff;
  padding-left: 100px;
  padding-right: 70px;
  background: url("../Photos/01.png") no-repeat;
}

.imgs .img_01 p {
  width: 488px;
  padding-top: 45px;
  font-size: 15px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
  line-height: 27px;
}

.imgs .img_01 p.sec2__h2 {
  padding-top: 120px;
  font-size: 50px;
  color: #313131;
  font-weight: 700;
  font-family: 'Libre Baskerville';
}

.section__3 {
  height: 825px;
  background-color: #f7f7f7;
}

.sec3__our-focus {
  width: 610px;
  height: 260px;
  margin: 0 auto;
}

.sec3__our-focus p {
  font-size: 18px;
  line-height: 80px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
}

.our_focus {
  background: url("../Photos/02.png") center center no-repeat;
  font-size: 50px;
  line-height: 80px;
  color: #313131;
  font-weight: 700;
  font-family: 'Libre Baskerville';
  text-align: center;
  padding-top: 130px;
}

.sec3__cards {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sec3__cards .sec3__card {
  width: 263px;
  height: 350px;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
  background-color: #ffffff;
}

.sec3__cards .sec3__card img {
  padding-left: 104px;
  padding-top: 60px;
}

.card_1 {
  border-bottom: 3px solid #fc5f45;
}

.card_2 {
  border-bottom: 3px solid #38c695;
}

.card_3 {
  border-bottom: 3px solid #b27cf5;
}

.card_4 {
  border-bottom: 3px solid #feb960;
}

.sec3__card h2 {
  font-size: 20px;
  line-height: 80px;
  color: #313131;
  font-weight: 500;
  font-family: 'Poppins';
  text-align: center;
}

.sec3__card p {
  width: 215px;
  height: 122px;
  font-size: 15px;
  line-height: 25px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
  padding-left: 24px;
}

.section__4 {
  height: 500px;
  background: url("../Photos/background_sec4.png") center center no-repeat;
}

.sec4_explore-our {
  padding-top: 130px;
}

.sec4_explore-our h2 {
  font-size: 30px;
  line-height: 80px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
}

.sec4_explore-our p {
  font-size: 15px;
  line-height: 80px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
}

.sec4_explore-our img {
  margin-left: 545px;
  cursor: pointer;
}

.section__5 {
  height: 1380px;
}

.sec5__photos h2 {
  font-size: 50px;
  line-height: 80px;
  color: #313131;
  font-weight: 700;
  font-family: 'Libre Baskerville';
  text-align: center;
  background: url("../Photos/03.png") center center no-repeat;
  padding-top: 130px;
}

.sec5__photos p {
  font-size: 18px;
  line-height: 80px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
}

.Photos {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 60px;
}

.photo_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 18px;
}

.zaholovok h2 {
  background: url("../Photos/04.png") center center no-repeat;
  font-size: 50px;
  line-height: 80px;
  color: #313131;
  font-weight: 700;
  font-family: 'Libre Baskerville';
  text-align: center;
  padding-top: 130px;
}

.zaholovok p {
  font-size: 18px;
  line-height: 80px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
}

.section__6 {
  height: 1225px;
  background-color: #f7f7f7;
}

.sec6__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 70px;
}

.big_block {
  width: 1140px;
  height: 391px;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
  margin: 0 auto;
  background: url("../Photos/Background.png") center center no-repeat;
}

.big_block h2 {
  font-size: 20px;
  line-height: 80px;
  color: #272727;
  font-weight: 600;
  font-family: 'Poppins';
  padding-left: 100px;
  padding-top: 70px;
}

.text_social {
  width: 652px;
  height: 160px;
  font-size: 15px;
  line-height: 27px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
  padding: 0 100px;
}

.block__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social_networks li {
  font-size: 15px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
}

.social_networks li:before {
  padding-right: 5px;
}

.social_networks li:first-child:before {
  content: url("../Photos/facebook.png");
}

.social_networks li:last-child:before {
  content: url("../Photos/Insta.png");
}

.social_networks .twitter::before {
  content: url("../Photos/twitter.png");
}

.social_networks .linkedin::before {
  content: url("../Photos/linkedIn.png");
}

.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.group .line {
  padding-right: 22px;
}

.group .share {
  padding-right: 25px;
}

.section__7 {
  background: url("../Photos/Layer 24.png");
  height: 465px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icon p {
  font-size: 20px;
  line-height: 80px;
  color: #fefefe;
  font-weight: 500;
  font-family: 'Poppins';
  text-align: center;
}

.icon .p {
  font-size: 15px;
  line-height: 80px;
  color: #8d8888;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
}

.icon__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 120px;
}

.section__8 {
  height: 1730px;
}

.sec8__work-steps .sec8__h2 {
  font-size: 50px;
  line-height: 80px;
  color: #313131;
  font-weight: 700;
  font-family: 'Libre Baskerville';
  text-align: center;
  background: url("../Photos/05.png") center center no-repeat;
  padding-top: 130px;
}

.sec8__work-steps p {
  font-size: 18px;
  line-height: 80px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
}

.four_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 115px;
  position: relative;
}

.four_block img {
  width: 556px;
  margin: 0 auto;
}

.four_block-01 {
  background: url("../Photos/icon/01.png") 40px 40px no-repeat;
  background-color: white;
  width: 458px;
  height: 301px;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
  background-color: #ffffff;
  position: absolute;
  border-bottom: 3px solid #fc5f45;
  top: -45px;
  padding-left: 20px;
}

.four_block-01 h2 {
  font-size: 25px;
  color: #272727;
  font-weight: 400;
  font-family: 'Poppins';
  padding-bottom: 15px;
  padding-top: 10px;
}

.four_block-01 p {
  width: 277px;
  height: 135px;
  font-size: 15px;
  line-height: 27px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: left;
}

.four_block-01 .fout_block-text {
  padding-left: 100px;
  padding-top: 60px;
}

.four_block-02 {
  background: url("../Photos/icon/02.png") 40px 40px no-repeat;
  background-color: white;
  width: 458px;
  height: 301px;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
  background-color: #ffffff;
  position: absolute;
  border-bottom: 3px solid #38c695;
  top: 250px;
  right: 0;
  padding-left: 20px;
}

.four_block-02 h2 {
  font-size: 25px;
  color: #272727;
  font-weight: 400;
  font-family: 'Poppins';
  padding-bottom: 15px;
  padding-top: 10px;
}

.four_block-02 p {
  width: 277px;
  height: 135px;
  font-size: 15px;
  line-height: 27px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: left;
}

.four_block-02 .fout_block-text {
  padding-left: 110px;
  padding-top: 30px;
}

.four_block-03 {
  background: url("../Photos/icon/03.png") 40px 40px no-repeat;
  background-color: white;
  width: 458px;
  height: 301px;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
  background-color: #ffffff;
  position: absolute;
  border-bottom: 3px solid #b27cf5;
  top: 550px;
  left: 0;
  padding-left: 20px;
}

.four_block-03 h2 {
  font-size: 25px;
  color: #272727;
  font-weight: 400;
  font-family: 'Poppins';
  padding-bottom: 15px;
  padding-top: 10px;
}

.four_block-03 p {
  width: 277px;
  height: 135px;
  font-size: 15px;
  line-height: 27px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: left;
}

.four_block-03 .fout_block-text {
  padding-left: 110px;
  padding-top: 30px;
}

.four_block-04 {
  background: url("../Photos/icon/04.png") 40px 40px no-repeat;
  background-color: white;
  width: 458px;
  height: 301px;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
  background-color: #ffffff;
  position: absolute;
  border-bottom: 3px solid #feb960;
  top: 850px;
  right: 0;
  padding-left: 20px;
}

.four_block-04 h2 {
  font-size: 25px;
  color: #272727;
  font-weight: 400;
  font-family: 'Poppins';
  padding-bottom: 15px;
  padding-top: 10px;
}

.four_block-04 p {
  width: 277px;
  height: 135px;
  font-size: 15px;
  line-height: 27px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: left;
}

.four_block-04 .fout_block-text {
  padding-left: 110px;
  padding-top: 30px;
}

.section__9 {
  background-color: #f7f7f7;
  height: 1050px;
}

.sec9__zaholovok h2 {
  background: url("../Photos/icon/06.png") center center no-repeat;
  padding-top: 130px;
  font-size: 50px;
  line-height: 80px;
  color: #313131;
  font-weight: 700;
  font-family: 'Libre Baskerville';
  text-align: center;
}

.sec9__zaholovok p {
  font-size: 18px;
  line-height: 80px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
}

.price_block {
  width: 360px;
  height: 575px;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
  background-color: #ffffff;
  border-top: 3px solid #38c695;
}

.price_block h4 {
  font-size: 20px;
  line-height: 80px;
  color: #313131;
  font-weight: 500;
  font-family: 'Poppins';
  text-align: center;
  height: 60px;
}

.price_block img {
  padding-left: 124px;
}

.price_block p {
  height: 223px;
  font-size: 15px;
  line-height: 40px;
  color: #272727;
  font-weight: 500;
  font-family: 'Poppins';
  text-align: center;
  padding-top: 30px;
}

.price_block button {
  font-size: 16px;
  color: #38c695;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
  width: 180px;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(56, 198, 149, 0);
  border: 2px solid #38c695;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
}

.block_2 {
  border-top: 3px solid #fc5f45;
}

.block_2 button {
  background-color: #fc5f45;
  border: 0;
  color: #fff;
}

.block_3 {
  border-top: 3px solid #b27cf5;
}

.block_3 button {
  color: #b27cf5;
  border: 2px solid #b27cf5;
}

.section__10 {
  height: 875px;
  background-color: #262732;
}

.sec10__zaholovok h2 {
  font-size: 50px;
  line-height: 80px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Libre Baskerville';
  text-align: center;
  background: url("../Photos/07.png") center center no-repeat;
  padding-top: 130px;
}

.sec10__zaholovok p {
  font-size: 18px;
  line-height: 80px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
}

.kvadrat {
  z-index: 1;
}

.straight {
  background-color: #fff;
  margin-top: 40px;
  position: relative;
  right: 100px;
  padding-top: 35px;
  padding-left: 100px;
  width: 822px;
  height: 312px;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
  background-color: #ffffff;
}

.straight p {
  width: 650px;
  height: 94px;
  font-size: 15px;
  line-height: 27px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
}

.straight h1 {
  font-size: 40px;
  color: #272727;
  font-weight: 400;
  font-family: 'Sacramento';
  padding-top: 30px;
}

.straight h2 {
  font-size: 18px;
  color: #272727;
  font-weight: 700;
  font-family: 'Poppins';
}

.straight h5 {
  font-size: 13px;
  color: #fc5f45;
  font-weight: 400;
  font-family: 'Poppins';
}

.sec10__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
}

.icons {
  top: 190px;
  z-index: 2;
  position: relative;
  right: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons img {
  margin-right: 5px;
}

.sec11__zaholovok h2 {
  font-size: 50px;
  line-height: 80px;
  color: #313131;
  font-weight: 700;
  font-family: 'Libre Baskerville';
  text-align: center;
  background: url("../Photos/08.png") center center no-repeat;
  padding-top: 130px;
}

.sec11__zaholovok p {
  font-size: 18px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
}

.section__11 {
  height: 1150px;
}

.block__3-1,
.block__3-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.block__3-1 {
  margin: 55px 0;
}

.sec11__block {
  width: 330px;
}

.sec11__block p {
  font-size: 15px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
}

.sec11__block .sec11_flex {
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec11__block .sec11_flex img {
  padding-right: 8px;
}

.sec11__block .sec11_flex p {
  width: 120px;
  font-size: 18px;
  color: #272727;
  font-weight: 500;
  font-family: 'Poppins';
}

.sec11__block .sec11_flex p:last-child {
  width: 160px;
}

.sec11__text-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 205px;
}

.sec11__text-btn h2 {
  font-size: 25px;
  line-height: 26px;
  color: #272727;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
  margin-right: 30px;
}

.sec11__text-btn button {
  font-size: 16px;
  border: 0;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
  width: 180px;
  height: 50px;
  border-radius: 25px;
  background-color: #fc5f45;
  cursor: pointer;
}

.sec12__our-blog h4 {
  font-size: 50px;
  padding-top: 140px;
  color: #313131;
  font-weight: 700;
  font-family: 'Libre Baskerville';
  text-align: center;
  background: url("../Photos/09.png") center center no-repeat;
}

.sec12__our-blog p {
  font-size: 18px;
  line-height: 80px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
}

.section__12 {
  height: 1151px;
  background-color: #f7f7f7;
}

.sec12__block {
  width: 555px;
  margin-top: 14px;
  height: 212.8px;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));
  background-color: #ffffff;
  border-bottom: 3px solid #b27cf5;
}

.sec12__block .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  height: 40px;
  padding-top: 20px;
}

.sec12__block .color h2 {
  font-size: 15px;
  font-weight: 500;
  font-family: 'Poppins';
  white-space: nowrap;
  padding-right: 25px;
}

.sec12__block .color p {
  font-size: 13px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
}

.sec12__block h3 {
  font-size: 18px;
  color: #272727;
  font-weight: 500;
  font-family: 'Poppins';
  padding-left: 30px;
}

.sec12__block h6 {
  padding-right: 30px;
  padding-top: 20px;
  padding-left: 30px;
  font-size: 15px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
}

.sec12__block:first-child {
  border-bottom: 3px solid #38c695;
}

.sec12__block:last-child {
  border-bottom: 3px solid #feb960;
}

.sec12__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec12__purple {
  color: #b27cf5;
}

.sec12__green {
  color: #38c695;
}

.sec12__orange {
  color: #feb960;
}

.section__13 {
  height: 425px;
  background-color: #fff;
}

.section__13 input.input_1 {
  width: 300px;
  height: 50px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #f7f7f7;
  border: 2px solid #efefef;
  margin: 0;
  font-size: 16px;
  padding-left: 25px;
}

.section__13 button {
  width: 180px;
  height: 54.5px;
  color: white;
  background-color: #fc5f45;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
  border: 0;
  margin-left: -15px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
}

.sec13__subscribe h2 {
  font-size: 30px;
  color: #272727;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
  margin-top: 140px;
}

.btn_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.footer {
  height: 1275px;
  background-color: #bfbdbd;
}

.footer_zaholovok h2 {
  font-size: 50px;
  color: #313131;
  font-weight: 700;
  font-family: 'Libre Baskerville';
  text-align: center;
  background: url("../Photos/10.png") center center no-repeat;
  padding-top: 135px;
}

.footer_zaholovok p {
  font-size: 18px;
  line-height: 80px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
}

.footer__inputs {
  margin-top: 70px;
}

.footer__inputs .foo_input-1,
.footer__inputs .foo_input-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

.footer__inputs .foo_input-1 input:first-child,
.footer__inputs .foo_input-2 input:first-child {
  margin-right: 30px;
}

.footer__inputs input {
  width: 360px;
  height: 50px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  font-size: 16px;
  line-height: 80px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
}

textarea {
  width: 750px;
  height: 200px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  margin: 0 auto;
  font-size: 16px;
  color: #616161;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
  padding-top: 15px;
  margin-left: 209px;
  resize: none;
}

.btn {
  width: 190px;
  height: 50px;
  border-radius: 25px;
  background-color: #fc5f45;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
  border: 0;
}

.textarea_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textarea_btn .btn {
  margin-top: 45px;
}

.footer_block_g {
  margin-top: 140px;
  width: 1139px;
  height: 225px;
  background-color: #3f4049;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer_block_g .footer__block {
  width: 240px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Poppins';
}

.footer_block_g .footer__block h2 {
  font-size: 18px;
  padding-bottom: 15px;
  font-weight: 300;
  font-family: 'Poppins';
}

.block_social h2 {
  font-size: 18px;
  color: #feb960;
  font-weight: 500;
  font-family: 'Poppins';
}
